@tailwind base;
@tailwind components;
@tailwind utilities;

#root { 
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.active { 
  @apply bg-[#1abc9c] px-3 py-2 rounded-md text-white transition duration-500
}